@import '../../../global.scss';

.bubble {
	display: none;
	position: absolute;
	bottom: 25px;
	right: 10px;
	width: fit-content;
	height: fit-content;
	border: 1px solid black;
	background-color: rgba(254, 255, 223, 255);
	z-index: 20;
	border-radius: 5px;

	&.active {
		display: block;
	}

	.bubble-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: fit-content;
		height: fit-content;
		margin: 5px 5px;
	}
}
