@import '../global.scss';

.work {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 80%;
	width: 60%;
	max-height: 800px;
	max-width: 1200px;
	margin: auto;
	background-color: #fefeff;
	box-shadow: inset 0.14em 0.14em 0.1em 0 rgba(32, 33, 32, 0.7),
		inset -0.14em -0.1em 0em 0 rgba(239, 241, 241, 255);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

	&.close {
		display: none;
	}

	.work-container {
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		border: 3px solid #c6c7c7;
		box-shadow: inset 0.14em 0.14em 0.1em 0 rgba(32, 33, 32, 0.7),
			inset -0.14em -0.1em 0em 0 rgba(239, 241, 241, 255);

		.title-bar {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			width: 100%;
			height: 20px;
			background: linear-gradient(
				90deg,
				rgba(6, 0, 80, 1) 0%,
				rgba(13, 137, 219, 1) 100%
			);

			.left-side {
				display: flex;
				align-items: center;
				justify-content: flex-start;

				img {
					grid-column-start: 1;
					margin: 0 5px;
					width: 17px;
					height: 17px;
				}

				h4 {
					color: white;
					font-size: 14px;
				}
			}

			.right-side {
				display: flex;
				align-items: center;
				justify-content: flex-end;

				button {
					width: 18px;
					height: 80%;
					background-color: #b7b6b7;
					margin-right: 2px;
					border: none;
					margin-left: 5px;
					box-shadow: inset -0.1em -0.1em 0.04em 0 rgba(32, 33, 32, 0.7),
						inset 0.1em 0.1em 0.1em 0 rgba(239, 241, 241, 1);

					img {
						width: 12px;
						height: 12px;
						margin-right: 1px;
					}
				}
			}
		}

		.divider {
			display: block;
			height: 3px;
			width: 100%;
			background-color: #c0c6ca;
			box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
		}

		.content-container {
			height: 97%;
			width: 100%;
			position: relative;

			.link-container {
				height: 100%;
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;

				&.hide {
					display: none;
				}

				.link-item {
					display: flex;
					align-items: center;
					flex-direction: column;
					margin: 10px 50px;
					flex: 1 0 20%;

					&.active {
						h4 {
							background-color: #000181;
							color: white;
						}
					}

					h4 {
						font-size: 2rem;
						padding: 3px;
					}

					img {
						width: 100px;
						height: 100px;
					}
				}
			}
		}
	}
}
