@import '../global.scss';

.education {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 3px;
	min-width: 700px;
	min-height: 700px;
	background-color: #c0c6ca;
	box-shadow: inset -0.1em -0.1em 0.04em 0 rgba(32, 33, 32, 0.7),
		inset 0.1em 0.1em 0.1em 0 rgba(239, 241, 241, 1),
		rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

	@media screen and (max-width: $phone) {
		top: 45%;
		min-width: 95%;
		min-height: 550px;
		max-height: 65%;
	}

	&.close {
		display: none;
	}

	.education-container {
		width: 100%;
		min-height: 700px;
		background-color: #c0c6ca;

		@media screen and (max-width: $phone) {
			min-height: 500px;
			max-height: 550px;
		}

		.title-bar {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			width: 100%;
			height: 20px;
			background: linear-gradient(
				90deg,
				rgba(6, 0, 80, 1) 0%,
				rgba(13, 137, 219, 1) 100%
			);

			.left-side {
				display: flex;
				align-items: center;
				justify-content: flex-start;

				img {
					grid-column-start: 1;
					margin: 0 5px;
					width: 17px;
					height: 17px;
				}

				h4 {
					color: white;
					font-size: 14px;
				}
			}

			.right-side {
				display: flex;
				align-items: center;
				justify-content: flex-end;

				button {
					position: relative;
					box-sizing: border-box;
					line-height: 16px;
					text-align: center;
					width: 18px;
					height: 80%;
					background-color: #b7b6b7;
					margin-right: 2px;
					border: none;
					margin-left: 5px;
					box-shadow: inset 0.1em 0.1em 0em 0 rgba(255, 255, 255, 0.5),
						inset -0.1em -0.1em 0em 0 rgba(0, 0, 0, 0.8);

					img {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 80%;
						height: 80%;
					}
				}
			}
		}

		.divider {
			display: block;
			height: 1px;
			width: 100%;
			margin: 1px auto;
			background-color: #c0c6ca;
			box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
		}

		.content-container {
			width: 100%;
			min-height: 680px;
			display: flex;
			justify-content: center;
			align-items: center;

			@media screen and (max-width: $phone) {
				min-height: 530px;
				max-height: 886px;
			}

			.school-list {
				width: 85%;
				min-height: 680px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-evenly;

				@media screen and (max-width: $phone) {
					width: 95%;
					height: 886px;
					overflow-y: scroll;
				}

				.school-item {
					min-height: 170px;
					width: 100%;
					display: grid;
					grid-template-columns: 30% 1fr;
					padding: 5px;
					background-color: #f0f0f0;
					box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
						rgba(0, 0, 0, 0.23) 0px 3px 6px;

					@media screen and (max-width: $phone) {
						display: flex;
						flex-direction: column;
						margin: 10px 0;
						flex-shrink: 0;
					}

					.text-container {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;

						@media screen and (max-width: $phone) {
							height: fit-content;
							margin: 0 5px;
							text-align: center;
						}
					}

					h4 {
						justify-self: center;
						font-size: 1.7rem;
						grid-column-start: 2;
						margin: 10px 0;
					}
					img {
						width: 125px;
						grid-column-start: 1;
						justify-self: center;
						align-self: center;
						box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
							rgba(0, 0, 0, 0.24) 0px 1px 2px;
					}

					p {
						justify-self: center;
						margin: 5px 0;
						font-size: 1.2rem;
						text-align: center;
					}
				}
			}
		}
	}
}
