@import '../global.scss';

.education {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 80%;
	width: 65%;
	max-width: 850px;
	max-height: 950px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

	&.close {
		display: none;
	}

	.education-container {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		background-color: #c0c6ca;
		border: 3px solid #c6c7c7;
		margin: 0 auto;

		.title-bar {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			width: 100%;
			height: 20px;
			background: linear-gradient(
				90deg,
				rgba(6, 0, 80, 1) 0%,
				rgba(13, 137, 219, 1) 100%
			);

			.left-side {
				display: flex;
				align-items: center;
				justify-content: flex-start;

				img {
					grid-column-start: 1;
					margin: 0 5px;
					width: 17px;
					height: 17px;
				}

				h4 {
					color: white;
					font-size: 14px;
				}
			}

			.right-side {
				display: flex;
				align-items: center;
				justify-content: flex-end;

				button {
					box-sizing: border-box;
					line-height: 16px;
					text-align: center;
					width: 18px;
					height: 80%;
					background-color: #b7b6b7;
					margin-right: 2px;
					border: none;
					margin-left: 5px;
					box-shadow: inset -0.1em -0.1em 0.04em 0 rgba(32, 33, 32, 0.7),
						inset 0.1em 0.1em 0.1em 0 rgba(239, 241, 241, 1);

					img {
						width: 12px;
						height: 12px;
						margin: 1px 1px 0 auto;
					}
				}
			}
		}

		.divider {
			display: block;
			height: 3px;
			width: 100%;
			background-color: #c0c6ca;
			box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
		}

		.content-container {
			width: 100%;
			height: calc(100% - 23px);
			background-color: #c6c7c7;
			display: flex;
			justify-content: center;

			.school-list {
				width: 85%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;

				.school-item {
					height: 25%;
					width: 100%;
					display: grid;
					grid-template-columns: 30% 1fr;
					padding: 5px;
					background-color: #f0f0f0;
					box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
						rgba(0, 0, 0, 0.23) 0px 3px 6px;

					.text-container {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
					}

					h4 {
						justify-self: center;
						font-size: 1.5rem;
						grid-column-start: 2;
						margin: 10px 0;
					}
					img {
						width: 125px;
						grid-column-start: 1;
						justify-self: center;
						align-self: center;
						box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
							rgba(0, 0, 0, 0.24) 0px 1px 2px;
					}

					p {
						justify-self: center;
						margin: 5px 0;
						font-size: 1rem;
					}
				}
			}
		}
	}
}
